extends cabeza
block contenido
 
.main
  .human
    .human__hair-b
    .human__head
      .human__face
        .human__hair-c
          .human__hair
        .human__nose
        .human__eye-l
        .human__eye-r
        .human__cheeks-l
        .human__cheeks-r
        .human__mouth
        .human__eyebrow-l
        .human__eyebrow-r
    .human__ears
      .human__ear-l
      .human__ear-r
    .human__arm-l
    .human__arm-r
    .human__body-c
      .human__body
    .human__legs
      .human__leg-l
      .human__leg-r
    .human__shoes
      .human__shoe-c
        .human__shoe-l
      .human__shoe-c
        .human__shoe-r
  .table
    .table__top
      .laptop
      .cup
    .table__bottom
    .table__legs
      .table__leg
      .table__leg
      .table__leg
      .table__leg
  .chair
    .chair__top
    .chair__line
    .chair__base
    .chair__wheels
      .chair__wheel
      .chair__wheel
  .trashcan
  .window
    .window__container
      .building
        .building__window.building__window--active.building__window-on-1
        .building__window.building__window--active.building__window-on-2
        .building__window
        .building__window
        .building__window
        .building__window
        .building__window
        .building__window.building__window--active
        .building__window
        .building__window
        .building__window
        .building__window.building__window--active
        .building__window
        .building__window
        .building__window.building__window--active.building__window-on-3
        .building__window
        .building__window
        .building__window
        .building__window.building__window--active
        .building__window.building__window--active
        .building__window
      .building
        .building__window
        .building__window.building__window--active
        .building__window.building__window--active
        .building__window
        .building__window.building__window--active
        .building__window.building__window--active
        .building__window
        .building__window
        .building__window.building__window--active.building__window-on-4
        .building__window
        .building__window
        .building__window
        .building__window.building__window--active
        .building__window.building__window--active.building__window-on-3
        .building__window
        .building__window
      .building
        .building__window-f
        .building__window-f.building__window--active.building__window-on-1
        .building__window-f.building__window--active
        .building__window-f
        .building__window-f
        .building__window-f
        .building__window-f.building__window--active
        .building__window-f
        .building__window-f
        .building__window-f.building__window--active.building__window-on-2
        .building__window-f.building__window--active
        .building__window-f
        .building__window-f.building__window--active
        .building__window-f
      .building
        .building__window
        .building__window.building__window--active.building__window-on-1
        .building__window.building__window--active
        .building__window
        .building__window.building__window--active
        .building__window.building__window--active.building__window-on-4
        .building__window
        .building__window
        .building__window.building__window--active
        .building__window
        .building__window
        .building__window
        .building__window.building__window--active
        .building__window.building__window--active
        .building__window
        .building__window
        .building__window.building__window--active
        .building__window
        .building__window
        .building__window
        .building__window.building__window--active
        .building__window.building__window--active
        .building__window.building__window--active
        .building__window.building__window--active
        .building__window.building__window--active
        .building__window.building__window--active
        .building__window
        .building__window
  .lamp
    .lamp__top
      .lamp__light
    .lamp__base-c
      .lamp__base
  .bricks
    .brick
    .brick
