.card
  
  .card-body

  .container
    h5.card-title.favor Sonic
    img.car.imgcard(src="https://i0.wp.com/noescinetodoloquereluce.com/wp-content/uploads/2019/11/sonic-poster.jpg?resize=800%2C1000&ssl=1")
    a.btn.btn-primary.botoncard(href='#') Mas Informacion

