.row
  .example-1.card
    .wrapper
      .date
        span.day 12
        span.month Aug
        span.year 2016
      .data
        .content
          span.author Jane Doe
          h1.title
            a(href='#') Boxing icon has the will for a couple more fights
          p.text
            | The highly anticipated world championship fight will take place at 10am and is the second major boxing blockbuster in the nation after 43 years.
          label.menu-button(for='show-menu')
            span
        input#show-menu(type='checkbox')
        ul.menu-content
          li
            a.fa.fa-bookmark-o(href='#')
          li
            a.fa.fa-heart-o(href='#')
              span 47
          li
            a.fa.fa-comment-o(href='#')
              span 8
  .example-2.card
    .wrapper
      .header
        .date
          span.day 12
          span.month Aug
          span.year 2016
        ul.menu-content
          li
            a.fa.fa-bookmark-o(href='#')
          li
            a.fa.fa-heart-o(href='#')
              span 18
          li
            a.fa.fa-comment-o(href='#')
              span 3
      .data
        .content
          span.author Jane Doe
          h1.title
            a(href='#') Stranger Things: The sound of the Upside Down
          p.text
            | The antsy bingers of Netflix will eagerly anticipate the digital release of the Survive soundtrack, out today.
          a.button(href='#') Read more
