extends cabeza
block contenido
    
 header.hola
   lol#home
    .container.mt-5
     .row.mt-5
      .col-md-6
        .header-content-left
          img.img-circle(src='./img/logoinicio.png', style='width: 100%')
        
      .col-md-6
        .header-content-right
              h1.titu Peliculas M
              h3.hh3 La Pagina Web Que Te Recomandará Las 
             .typewriter 
               h3.hh32 Mejores Peliculas Y Series.
             .button.init(onclick="location.href='https://www.pornhub.com'")
              p.btnText Iniciar Sesion
              .btnTwo
               p.btnText2.icon-user
 
 
 section.main
  a.arrow-wrap(href='#content')
    span.arrow
   
  #content.content
    h1 Amor Andres Te amo
    p
      | letra
      em 
      |  peliculas
    p
      | informacion
    h2
      | Contenido
    pre.
     quizas sirva este pre
    h2 Animation
    p Mas
    pre.
     
    p
      | FOOTER
      a(href='http://www.robsawyer.me/blog/2013/09/17/scroll-indicator/') robsawyer.me



 script(src='/js/index.js', type='text/javascript')


